page-home {
  .content-md{
    background:color($colors, filter);
  }
  /*--------------------- SPLASH SCREEN ------------------------*/
.swiper-pagination-bullet-active{
  background: color($colors, appTheme);
}
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    opacity: 1;

.spinner-content{
  opacity: 1;
  position: fixed;
  left: 44%;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
  }
  .splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(38, 49, 65, 1);
}



.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
  .filter-color-bg{
    background:rgb(38, 49, 65);
    width: 100%;
    height: 100%;
    opacity: 0.93;
    position: fixed;
    z-index: 1999;
  }
  .filter-splash-bg {
    background-image: url("../assets/imgs/landing.jpeg");
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    opacity: 0.93;
    position: fixed;
    z-index: 1999;
  }
  .flb { 
    position: fixed;
    z-index: 999999999999;
    top: 50%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 15%;
    height: auto;
    
  }


ion-spinner * {
  stroke:  color($colors, appTheme) !important;
  fill: none;
  stroke-width: 14px;
}

.slideAnim{
  animation-name: showSwipe;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-timing-function: cubic-bezier(.5,.01,.4,1);
  animation-iteration-count: 1
}
@keyframes showSwipe {
  0% {transform: translate3d(0px, 0px, 0px);}
  50% {transform: translate3d(-50px, 0px, 0px);}
  100% {transform: translate3d(0px, 0px, 0px);}
}
  /*-----------------------------------------*/
.apod-box{
  ion-scroll {
    height: 100% !important;
    background: #f0f0f0;
  }
  color: white;
  text-align: left;
  h1{
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 45px;
  }
  h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
  }
  p{
    font-size: 18px;
    font-weight: 400;
  }
  hr{
    border-top:1px solid rgba(255, 255, 255, 0.4);
  }
}
/*-------------- CARD --------------------------*/
.card-background-page { 
  ion-card {
    height: 30%;
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 20%;
    line-height: 30px;

    font-size: 1.9em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }  
  .card-subtitle {
    font-size: 1.4em;
    position: absolute;
    top: 65%;
    width: 100%;
    color: #fff;
  } 
}

.selectorImg{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left: 0;
  opacity:0;
  object-fit: cover;

}

  .bg {
    background-size: cover;
    width: 100%;
    height: 100%;
    /* background-image: url("https://apod.nasa.gov/apod/image/1801/explorer1_liftoff800.jpg");*/
    /*background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
  }
  .filter {
    background:rgb(40, 51, 68);
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1 !important;
  }
  ion-navbar {
    .bookOff .icon {
      color: white;
      opacity: 0.2;
      transition: all 0.1s ease-out;
    }
    .bookOn .icon {
      color: rgb(255, 255, 255);
      transition: all 0.1s ease-out;
    }
    ion-icon {
      font-size: 25px !important;
      font-weight: 500;
      opacity: 1;
      color: white;
    }
  }
  .refresher{
    background-color: rgb(38, 49, 65) !important;
  }
  ion-content {
    ion-refresher {
      box-shadow: 0 -5px 5px -5px #333;
      background-color: rgb(38, 49, 65) !important;
    }
    ion-title {
      padding-top: 20px;
      padding-bottom: 25px;
      ion-icon,
      ion-title span {
        font-size: 30px;
        font-weight: lighter;
        color: #ffffff !important;
      }
    }
    .progress-data ion-icon p {
      font-size: 30px;

    }  
    .appTime { 
 
      .quote {
        font-size: 20px; 
        padding-bottom: 20px;
        margin: 0px;  
      }
      hr {
        opacity: 0.2;
        border-bottom: 1px solid color($colors, appTheme);
      }    
    }
    .appTime p {
      opacity:1;
      font-weight: lighter;
      text-align: center;
      font-size: 18px;
      color: color($colors, appTheme) !important;
    }
    .appTime h1 {
      font-weight: 400 !important;
      opacity: 0.5;
      font-weight: lighter;
      text-align: center;
      font-size: 23px;
      color: color($colors, appTheme) !important;
    }
    .appTime h2 {
      opacity: 1;
      font-weight: 400 !important;
      font-weight: lighter;
      text-align: center;
      font-size: 45px;
      color: color($colors, appTheme) !important;
    }
    ion-icon[name="ios-happy-outline"] {
      font-size: 50px;
      font-weight: 200;
      color: color($colors, appTheme);
    }
    ion-icon[name="ios-happy-outline"] span {
      font-size: 48px;
      padding-left: 10px;
    }
    /**/
    ion-icon[name="ios-sad-outline"] span {
      font-size: 35px;
      padding-left: 5px;
    }
    ion-icon[name="ios-sad-outline"] {
      font-size: 30px;
      font-weight: 200;
      color: color($colors, appTheme);
    }
    .dataSection {
 
      .information{
        position: relative;
        bottom: 25px;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: color($colors, appTheme);
      }
      .progress-data {
        margin-top: 25px;
        display: inline-block;
        padding: 18px 18px 0px 18px;
      }
      ion-icon {
        position: relative;
        bottom: 110px;
        font-size: 35px;
      }
      span {
        font-size: 30px !important;
        font-weight: 300;
        text-align: center;
        color: color($colors, appTheme);
      }
    }
  }
  
  ion-footer {
    .appVersion {
      text-align: center;
      opacity: 0.3;
    }
    .appVersion p {
      font-size: 16px;
      color: color($colors, appTheme);
    }
  }
}
