<div *ngIf="showSplash" id="custom-overlay">
  <div class="filter-splash-bg"></div>
  <div class="filter-color-bg"></div>
  <div class="flb">
<!-- <img src="assets/imgs/earth.svg">  -->
    <div class="spinner-content">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
</div>



<ion-content  text-center  ng-controller="MainController" *ngFor="let item of fetchFirebase" >

 
<!-- (click)="makeOpaque()" -->


    

<ion-refresher pullMin="60" pullMax="80" (ionRefresh)="doRefresh($event)" spinner="spiral">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header padding no-border> 
      <ion-navbar  transparent >
          <ion-buttons end>
              <button (click)="setBookmark()" [ngClass]="bookmarkToggle"  ion-button icon-only ><ion-icon   name="bookmark"></ion-icon></button>   
              <button ion-button icon-only (click)="presentImage(currentImg)"><ion-icon ios="ios-expand" md="md-expand"></ion-icon></button>   
              <!-- <button (click)="openCalendar()" ion-button><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></button> -->
             <!-- <button  ion-button><ion-icon ios="ios-calendar" md="md-calendar"><ion-datetime min="{{lastDate}}" displayFormat="MM/DD/YYYY" ></ion-datetime></ion-icon></button> -->
                <button ion-button (click)="picker.open()">
                  <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                  <ion-datetime #picker style="display:none" pickerFormat="MMMM/DD/YYYY" max="{{today}}" min="{{lastDate}}" (ionChange)="confirmDate()" [(ngModel)]="dateValue"></ion-datetime>
                </button>
                
          </ion-buttons>
          <ion-buttons left>
              <button (click)="presentInfo()" ion-button>
                <ion-icon name="information-circle"></ion-icon>
              </button>
              <!--<button ion-button icon-only (click)="presentPopover($event)">
                  <ion-icon name="more"></ion-icon>
                </button>-->
          </ion-buttons>
        </ion-navbar>
</ion-header>

  <ion-slides  (ionSlideDidChange)="slideChanged(item)" (ionSlideDrag)="ionSlideDrag($event)">
    <ion-slide [ngClass]="animatedSlide" *ngFor="let info of item" class="bg" [style.backgroundImage]="'url('+info.url+')'" > 
      <div class="filter"></div>
  
      <div padding class="apod-box">

              <h1 class="test">{{info.title}}</h1>
              <h2 >{{info.date}}</h2>
              <hr> 
   
              <i>{{info.copyright}}</i>
  
  
   
             <!-- <p>{{info.explanation}}</p>  -->


      </div>

      
   
          
    </ion-slide>
  </ion-slides>
 <!--  <div class='appVersion'>
    <p>1.0.0</p>
  </div> -->
</ion-content>


