<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="bg"  [style.backgroundImage]="'url('+currentImg+')'" >
  <ion-header no-border> 
  <ion-navbar
   transparent >
    <ion-title>Info</ion-title>
  </ion-navbar>
</ion-header>


    <div class="filter"></div>
    
   <!-- <div padding class="apod-box">
                <h1 >{{apod_description}}</h1>   

        </div> -->

        <ion-slides  pager="true" paginationType="bullets" >
            <ion-slide padding *ngFor="let text of textArray" >
            <div padding class="apod-info">

                      <p>{{text}}.</p>
              </div>  
            </ion-slide>
          </ion-slides>
   
  
    
</ion-content>
