page-info {
    visibility: visible !important;
    z-index:0;
    top: 20%;
    width:60%;
    height:300px;
    position:absolute;
    .filter {
        background:rgb(40, 51, 68);
    
        opacity: 0.8;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1 !important;
      }
      ion-header{
          margin-bottom: 50px;
      }
      .apod-info h1{
        text-align: center;
 
          font-size: 21px !important;
          font-weight: 600 !important;
          color: white;
      }
      .apod-info p{
          text-align: center;
        font-size: 18px !important;
        font-weight: 400 !important;
        color: white;
    }
    .swiper-pagination{
        bottom: 100px !important;
    }
    .swiper-pagination-bullet{
        stroke: rgb(27, 36, 49) !important;
    }
    .swiper-pagination-bullet-active
    {
        background: rgb(255, 255, 255) !important;
    }
      .back-button,.toolbar-title {
          color: white;
      }
      .bg {
        background-size: cover;
        width: 100%;
        height: 100%;
        /* background-image: url("https://apod.nasa.gov/apod/image/1801/explorer1_liftoff800.jpg");*/
        /*background-size: cover;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
      }
}
