<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
    <ion-list>
        <button  ion-item icon-end> Go to bookmark <ion-icon  name="bookmark"></ion-icon></button>
        <ion-item>
            <ion-label>Notification</ion-label>
            <ion-toggle [(ngModel)]="sausage" ></ion-toggle>
          </ion-item>
      </ion-list>   
</ion-content>
